# {{ ansible_managed }}
[Unit]
Description=Patroni HA
Documentation=https://patroni.readthedocs.io
After=syslog.target network.target etcd.service

[Service]
Type=simple
User={{ postgresql_user }}
Group={{ postgresql_group }}
ExecStart={{ patroni_venv }}/bin/patroni {{ patroni_config_dir }}/patroni.yml
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
